

@import "../sass/globals";
.svg_location {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -25px;
  }
  .city_country {
    position: absolute;
    top: 15px;
    left: 30px;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #ffffff;
  }
  .country {
    position: absolute;
    top: 50px;
    left: 100px;
    font-family: Poppins-Regular;
    font-size: 22px;
    color: #7f70ec;
  }
  .description_bta{
    z-index: 1;
    color:#fff;
    font-size:9px;
    margin-top: -1rem;
  }
  .top_code {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  .titulo_main {
    font-family: Poppins-SemiBold;
    font-size: 20px;
    color:var(--titulo_col);
  }
  .city_img {
    transform: scale(0.9);
    position: absolute;
    bottom: 0;
    margin-top: 19px;
  }
  .col_grid_interna {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .sub_titulo {
    color: var(--letra);
    font-family: Poppins-Regular;
    font-size: 15px;
  }
  .clima_icono {
    max-width: 90%;
    height: 70px;
    background: #333d87;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 23px;
    transition: max-width 0.25s ease;
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .clima_icono:hover {
    opacity: 1;
    visibility: visible;
    max-width: 90px;
    transition: max-width 0.25s ease-in;
    cursor: pointer;
  }
  .clima_grados:hover {
    opacity: 1;
    visibility: visible;
    width: 90px;
    transition: width 0.25s ease-in;
    cursor: pointer;
  }
  .clima_grados {
    width: 90%;
    height: 80px;
    background: #7f70ec;
    transition: width 0.25s ease;
    position: absolute;
    top: 45px;
    z-index: -1;
    box-shadow: 0px 0px 12px 0px #666666a8;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 19px;
  }
  
  .effect1 {
    top: -30px;
    transform: rotate(182deg);
  }
  .effect1 {
    position: absolute;
    left: -1px;
    max-width: 25px;
    height: 40px;
    pointer-events: none;
    transition: all 0.2s ease, opacity 0.1s ease;
    fill: #333d87;
  }
  .effect2 {
    bottom: -25px;
    transform: rotate(-92deg);
  }
  
  .effect2 {
    position: absolute;
    left: -1px;
    max-width: 25px;
    max-height: 40px;
    pointer-events: none;
    transition: all 0.2s ease, opacity 0.1s ease;
    fill: #7f70ec;
  }
  .btn__flotante {
    width: 80px;
    height: 120px;
    position: absolute;
    z-index: 2;
    top: 20%;
  }
  .imagen_portada {
    background-size: cover;
    border-radius: 25px;
    box-shadow: 0px 0px 2px 0px #666666a8;
  }
  .imagen_contenedor {
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 25px;
  }
  .primary_city{
  z-index: 1;
  margin-top: -350px;
  background: #ffffff;
  box-shadow: 3px 3px 20px #999;
  }
  .second_city{
  z-index: 1;
  margin-top: -310px;
  background: #ffffff;
  box-shadow: 3px 3px 20px #999;
  }
  .add_location{
  margin-top: -330px;
  background: #ffffff; 
  border: 1px solid red;
  }
  .location{
  background: #ece9f8;
  }
  .content_icon{
    background: #dce8f4;
  }
  .col_grid {
    width: 100%;
    height: 100%;
  }
  .col_avatar {
    width: 20px;
    height: 25px;
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #666666a8;
    cursor: pointer;
  }
  .one{
    background-image: url("../assets/img-1.jpg");
  }
  .two{
    background-image: url("../assets/img-2.jpg");
  }
  .three{
    background-image: url("../assets/img-3.jpg");
  }
  .mapa{
    margin-top: 25px;
  }
  .fondo_main {
    background: var(--fondo_body);
    width: 100%;
    height: 100%;
  }
  .home {
    background: var(--fondo_card);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin-top: -50px;
    box-shadow: var(--sombra);
  }
  .division{
    color: var(--letra);
    width: 1px;
  }
  @media (max-width: 600px) {
    .conten_movil{
      justify-content: center;
      align-items: center;
      align-content: center;
      display: flex;
    }
    .row_grid {
      height: 271px;
    }
    .sub_titulo{
          display: flex;
      justify-content: center
    }
    .days{
      margin-top: -30px;
    }
    .cards{
      margin-top: 30px;
    }
    .boton_tiempo_next { 
      span{
        font-size: 14px;
      }
    }
     .boton_tiempo { 
      span{
        font-size: 14px;
      }
    }
    .place{
      margin-top: 300px;
    }
    .arab{
      margin-top: 10px;
    }
    .top{
      margin-top: 450px;
    }
    .reviews_img{
      margin-top:450px;
    }
    .mousem{
      margin-top: 10px;
    }
    .house{
      margin-top: 10px;
    }
    .primary_city{
      margin-top: 600px;
    }
    .second_city{
      margin-top: 620px;
    }
    .add_location{
      margin-top: 610px;
    }
    .peque_text--titulo{
      font-size: 12px;
    }
    .ciudad_contenedor{
      height: 240%;
    }
  }