<template>
  <!-- Contenedor padre -->
  <v-layout wrap justify-center mt-7 align-center p-0 m-0 class="fondo_main">
    <v-flex xs12>
      <Header />
    </v-flex>
    <v-flex md11 sm11 p-0 m-0 xs11 class="home" :elevation="4">
      <!-- Boton flotante muestra la temperatura y el icono del clima -->
      <div class="btn__flotante">
        <!-- SVG simula el efecto curva en el boton -->
        <svg
          data-v-a1e948f8
          xmlns="http://www.w3.org/2000/svg"
          width="160"
          height="160"
          viewBox="0 0 160 160"
          class="effect1"
        >
          <path
            data-v-a1e948f8
            id="Trazado_200"
            data-name="Trazado 200"
            d="M0-10,150,0l10,150S137.643,80.734,100.143,43.234,0-10,0-10Z"
            transform="translate(0 10)"
          />
        </svg>
        <div class="clima_icono">
          <img :src="`http://openweathermap.org/img/w/${icon}.png`" />
          <span class="description_bta">{{ overcast }}</span>
        </div>

        <!-- Los grados Centigrados -->
        <div class="clima_grados text-center justify-center align-center">
          <span class="text-center mt-4" style="font-size: 30px">{{
            tempgrados
          }}</span>
          <span class="mt-4 letra" style="color: #ffffff">°C</span>
        </div>
        <!-- SVG simula el efecto curva en el boton -->
        <svg
          data-v-a1e948f8
          xmlns="http://www.w3.org/2000/svg"
          width="160"
          height="160"
          viewBox="0 0 160 160"
          class="effect2"
        >
          <path
            data-v-a1e948f8
            id="Trazado_200"
            data-name="Trazado 200"
            d="M0-10,150,0l10,150S137.643,80.734,100.143,43.234,0-10,0-10Z"
            transform="translate(0 10)"
          />
        </svg>
      </div>
      <!-- Contenedor Card principal  -->
      <v-layout wrap justify-center align-center m-0 class="container">
        <!-- primera fila Portada ṕrincipal -->
        <v-flex md12 sm12 pa-4 xs12 class="row_grid">
          <div class="imagen_contenedor">
            <!-- imagen de la portada principal -->
            <v-img
              pa-5
              class="pa-5 imagen_portada"
              :src="require('@/assets/fondo.jpg')"
              max-width="100%"
              height="380px"
            >
              <!-- Svg localizacion  -->
              <span class="country">
                <div class="svg_location">
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0"
                    y="0"
                    viewBox="0 0 533.333 533.333"
                    style="enable-background: new 0 0 533.333 533.333"
                    xml:space="preserve"
                  >
                    <path
                      d="M266.666 0C174.618 0 100 74.619 100 166.667c0 166.667 166.667 366.667 166.667 366.667s166.667-200 166.667-366.667C433.333 74.619 358.713 0 266.666 0zm0 266.667c-55.229 0-100-44.771-100-100s44.771-100 100-100 100 44.771 100 100-44.771 100-100 100z"
                    />
                  </svg>
                </div>
                <div>{{city}}</div>
                <img
                  class="mapa"
                  :src="require('@/assets/mapa.svg')"
                  width="90px"
                  alt
                />
              </span>
            </v-img>
          </div>
        </v-flex>
        <v-flex md12 sm12 pa-0 ma-0 xs12 class="row_grid">
          <!-- Fila dos, Contiene 4 columnas  -->
          <v-layout
            wrap
            justify-center
            align-center
            pa-0
            ma-0
            class="container"
          >
            <!-- Columna uno Dias siguientes-->
            <v-flex md3 sm6 p-0 ma-0 xs12 class="col_grid">
              <v-layout
                wrap
                justify-center
                align-center
                pa-0
                ma-0
                class="items_filas--titulo"
              >
                <span class="titulo_main days">
                  3 Days
                  <span class="sub_titulo">Forecast</span>
                </span>
              </v-layout>

              <div v-for="(item, idx) in listaForecast" :key="idx">
                <Forecast :itemForecast="item"/>
              </div>
            </v-flex>
            <!-- Columna dos fotografia de un lugar-->
            <Place />
            <!-- Columna tres  -->
            <Reviews />
            <Citys />
          </v-layout>
        </v-flex>
      </v-layout>
      <!-- <span>Home template</span> -->
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
import Convert from "../mixins/convert";
import Smethods from "../mixins/servicesMethods";
import getClima from "../mixins/getClima";

export default {
  mixins: [Convert, Smethods, getClima],
  name: "Home",
  data() {
    return {
      city: "Bogotá",
      apykey: "c3cb975f0f4de35d7b934497a789fe58",
      currentTemp: "",
      icon: "",
      todos: "",
      indx: 0,
      minTemp: "",
      maxTemp: "",
      sunrise: "",
      sunset: "",
      pressure: "",
      humidity: "",
      wind: "",
      overcast: "",
      tempgrados: "",
      countrycode: "CO",
      namecity: "",
      pais: "",
      cont: 0,

      baseURL: "http://localhost:3001",
      listaForecast: {},
    };
  },
  components: {
    Header: () => import("../components/Header"),
    Forecast: () => import("../components/Forecast"),
    Place: () => import("../components/Place"),
    Reviews: () => import("../components/Reviews"),
    Citys: () => import("../components/Citys"),
  },
  methods: {
    async cargarForesCat() {
      try {
        const response = await axios.get(`${this.baseURL}/forecast`);
        this.listaForecast = response.data;
      } catch (e) {
        console.error(e);
      }
    },
    async loadingForeCast() {
      try {
        const response = await this.fetchData(`${this.baseURL}/forecast`);
        this.listaForecast = response;
      } catch (e) {
        console.error(e);
      }
    },
  },
  beforeMount() {
    this.getClima();
    this.cargarForesCat();
  },
};
</script>
<style lang="scss" scoped>
@import "../sass/home";
</style>
