<template>
  <v-flex md3 sm6 p-0 ma-0 xs11 class="col_grid conten_movil">
    <!-- componente lista de paises -->
    <v-flex md11 pa-1 xs12 class="content_col">    
      <v-layout
        wrap
        justify-center
        align-center
        pb-3
        pa-0
        ma-0
        class="items_filas_img" v-for="(item, idx) in respuesta" :key="idx"
      >
        <div class="imagen_contenedor--citys primary_city">
          <v-layout
            wrap
            justify-center
            align-center
            pa-0
            ma-0
            class="items_citys"
          >
            <v-flex md4 sm4 ma-0 xs4 class="col_grid_citys">
              <div class="boton_tiempo_next">
                <v-img
                  pa-5
                  class="pa-5"
                  :src="`http://openweathermap.org/img/w/${item.weather[0].icon}.png`"
                ></v-img>
              </div>
            </v-flex>
            <v-flex md4 sm4 ma-0 xs4 class="col_grid_citys">
              <div class="text-center justify-center align-center">
                <span class="text-center">{{ convertKelvinToCelsius(item.main.temp) }}</span>
                <span class="letra">°C</span>
              </div>
              <v-divider class="mx-0 pa-1 division" inset vertical></v-divider>
            </v-flex>
            <v-flex md4 sm4 ma-0 text-left xs4 class="col_grid_citys">
              <div class="peque_text--titulo text-left">
                {{nombreCiudad(item.name) }}
                <div class="peque_text text-left">{{listaPaises(item.sys.country)}}</div>
              </div>
            </v-flex>
          </v-layout>
          <v-layout
            wrap
            justify-center
            align-center
            pa-0
            ma-0
            class="items_citys--text"
          >
            <v-flex md4 sm4 ma-0 text-center xs4 class="col_grid_citys">
              <span class="sub--txto">Humidity {{item.main.humidity }}</span>
            </v-flex>
            <v-flex md4 sm4 ma-0 text-center xs4 class="col_grid_citys">
              <span class="sub--txto">Pressure {{ item.main.pressure }} hPa</span>
            </v-flex>
            <v-flex md4 sm4 ma-0 text-center xs4 class="col_grid_citys">
              <span class="sub--txto"> Wind Speed {{ item.wind.speed }} m/s</span>
            </v-flex>
          </v-layout>
        </div>
      </v-layout>

      <v-layout
        wrap
        justify-center
        mt-3
        align-center
        pa-0
        ma-1
        class="items_filas_two"
      >
        <div
          class="ciudad_contenedor add_location"
          style="border: rgba(102, 102, 102, 0.23) 2px dashed"
        >
          <v-flex xs12 mt-2 px-3>
            <v-text-field
              placeholder="+ add Location"
              v-model="pais"
              v-on:input="getClima, getCode(pais)"
              filled
              rounded
              dense
              text-center
            ></v-text-field>
          </v-flex>
          <v-flex xs12></v-flex>
        </div>
      </v-layout>
    </v-flex>
  </v-flex>
</template>
<script>
// @ is an alias to /src
import getClima from "../mixins/getClima";
import Convert from "../mixins/convert";

export default {
  mixins: [getClima,Convert],
  name: "Home",
  data() {
    return {
      city: "Bogota",
      apykey: "c3cb975f0f4de35d7b934497a789fe58",
      pais:'',
      listCities:[
        {codecountry: "FR", city: "Paris",},
        {codecountry: "FR", city: "Lyon",},
      ],
    };
  },
  methods:{
    listaPaises(country){      
      const countryCodes = require('country-codes-list')
      const myCountryCodesObject = countryCodes.customList('countryCode', '{countryNameEn}')
      let nameCountryEn = myCountryCodesObject[country]
      return nameCountryEn
    },
    nombreCiudad(nameCity){
      let name = nameCity.split(" ")
      return name[name.length-1]
    }
  },
  beforeMount() {
    try {
      this.listCities.map(el =>{
        this.getWeather(el.codecountry, el.city)
      })
    } catch (error) {
      console.error(error)
    }

  },
};
</script>
<style lang="scss" scoped>
@import "../sass/home";

.ciudad_contenedor {
  width: 100%;
  height: 100%;
  padding: 0px;
  position: relative;
  border-radius: 25px;
  background-image: url("../assets/city.png");
  background-position: center;
  background-size: 100%;
  background-repeat: inherit;
}
</style>