<template>
  <div>
    <v-flex md12 sm12 pa-4 ma-0 xs12 class="col_grid">
      <v-layout
        wrap
        pa-2
        ma-0
        class="items_filas"
        v-for="(item, idx) in itemForecast.list"
        :key="idx"
      >
        <v-flex class="cards">
          <v-layout
            wrap
            row
            justify-between
            align-center
            pa-1
            ma-0
            class="container"
          >
            <v-flex md2 sm2 xs2 class="col_grid_interna imagen-container">
              <v-img
                pa-5
                class="pa-5"
                :src="`http://openweathermap.org/img/w/${item.weather[0].icon}.png`"
                max-width="100%"
                height
              />
            </v-flex>

            <v-flex md5 sm6 xs6 class="col_grid_interna texto_clima--interno">
              <div class="peque_text--titulo">
                {{ formatoDía(item.dt_txt) }}
                <div class="peque_text">{{ item.weather[0].description }}</div>
              </div>
            </v-flex>
            <v-flex md4 sm4 ma-0 xs4 class="col_grid_interna boton_flotante">
              <div :class="['boton_tiempo',{'boton_tiempo_primary': idx==0}]">
                <span class="linea_tiempo">
                  {{ convertKelvinToCelsius(item.main.temp_min) }}° /
                  {{ convertKelvinToCelsius(item.main.temp_max) }}°
                </span>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </div>
</template>
<script>
import Convert from "../mixins/convert";
export default {
  name: "Forecast",
  mixins: [Convert],
  props: {
    itemForecast: {
      type: Object,
    },
  },
  data() {
    return {
      diaSemana: "",
      semana: [
        "Saturday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Sunday",
      ],
    };
  },
  methods: {
    formatoDía(fecha) {
      let numeroDia = new Date(fecha).getDay();
      this.diaSemana = this.semana[numeroDia];
      return this.diaSemana;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../sass/globals";

.linea_tiempo {
  font-family: Poppins-SemiBold;
  font-size: 1rem;
}
.boton_flotante {
  position: absolute;
  right: -6px;
}
.boton_tiempo {
  width: 100%;
  height: 100%;
  background: #dce8f4 ;
  border-radius: 11px;
  transform: scale(1);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  box-shadow: 0px 0px 7px 0px #666666a8;
  cursor: pointer;
  span {
    color: #010006;
  }
}
.boton_add__tiempo:hover {
  background: #7f70ece3;
}
.boton_add__tiempo {
  width: 55px;
  height: 100%;
  background: #7f70ec;
  border-radius: 25px;
  transform: scale(1);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  box-shadow: 0px 0px 12px 0px #666666a8;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  span {
    color: #ffffff;
  }
}
.boton_tiempo_primary{
  background: #7f70ec;
  span {
    color: #FFFFFF;
  }
}
.col_grid_interna {
  width: 100%;
  height: 100%;
  position: absolute;
}
.texto_clima--interno {
  right: 66px;
  // justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  line-height: 12px;
}
.cards {
  width: 85%;
  height: 6.5rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.23);
  position: relative;
}

.peque_text--titulo {
  font-size: 12px;
  font-family: Poppins-SemiBold;
  text-align: left;
  display: grid;
  justify-content: left;
}
.btn__flotante {
  width: 80px;
  height: 120px;
  position: absolute;
  z-index: 2;
  top: 20%;
}
.imagen-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .cards {
    margin-top: 50px;
  }
  .peque_text--titulo {
    font-size: 12px;
  }
}
</style>