<template>
  <v-layout wrap row mb-5 pb-5>
    <v-flex xs12 sm5 md5 offset-xs11 offset-md11>
      <img :src="require('../assets/logo-small.png')" alt="" height="50px" />
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  name: "Header",
};
</script>
