<template>
  <v-flex md3 sm6 p-0 m-0 mt-3 xs12 class="col_grid">
    <v-layout
      wrap
      justify-center
      align-end
      pa-0
      ma-0
      class="items_filas--titulo"
    >
      <span class="titulo_main place">
        Place to
        <span class="sub_titulo">Visit</span>
      </span>
    </v-layout>
    <v-layout wrap justify-center align-end pa-5 ma-0 class="items_fila--img">
      <div class="imagen_contenedor arab">
        <v-img
          pa-5
          class="pa-5 imagen_portada"
          src="../assets/edifice.jpg"
          max-width="100%"
          height="16em"
        >
          <span class="city_country">
            <div class="svg_location">
              <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0"
                y="0"
                viewBox="0 0 533.333 533.333"
                style="enable-background: new 0 0 533.333 533.333"
                xml:space="preserve"
              >
                <path
                  d="M266.666 0C174.618 0 100 74.619 100 166.667c0 166.667 166.667 366.667 166.667 366.667s166.667-200 166.667-366.667C433.333 74.619 358.713 0 266.666 0zm0 266.667c-55.229 0-100-44.771-100-100s44.771-100 100-100 100 44.771 100 100-44.771 100-100 100z"
                />
              </svg>
            </div>
            <p>
              Arab Street <br />
              Singapore
            </p>
          </span>
        </v-img>
      </div>
    </v-layout>
  </v-flex>
</template>
<style lang="scss" scoped>
@import "../sass/home";
</style>