<template>
  <v-flex md3 sm6 p-0 m-0 mt-3 xs11 class="col_grid">
    <v-layout
      wrap
      justify-center
      align-center
      pa-0
      ma-0
      class="items_filas--titulo"
    >
      <v-flex md4 sm4 p-0 m-0 xs3 class="col_grid">
        <span class="titulo_main">
          <span class="sub_titulo top">+ Top Reviews</span>
        </span>
      </v-flex>
      <v-flex
        md6
        sm6
        xs5
        pa-1
        m-0
        justify-center
        align-center
        xs8
        class="col_grid reviews_img"
      >
        <v-layout
          wrap
          justify-center
          align-center
          pa-0
          ma-0
          class="items_filas--titulo"
        >
          <v-flex md3 sm3 pa-2 ma-0 xs3 class="col_avatar one"> </v-flex>
          <v-flex md3 sm3 p-0 m-0 xs3 class="col_avatar two"> </v-flex>
          <v-flex md3 sm3 p-0 m-0 xs3 class="col_avatar three"> </v-flex>
          <v-flex md3 sm3 p-0 m-0 xs3 class="col_avatar">
            <span>+</span>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <!-- mousem -->
    <v-layout
      wrap
      justify-center
      align-center
      pa-0
      ma-0
      class="items_fila--img"
    >
      <v-flex md10 sm10 pa-0 mt-5 xs12 class="content_col">
        <v-layout
          wrap
          justify-center
          align-center
          pa-0
          ma-0
          class="items_filas_img"
        >
          <div class="imagen_contenedor mousem">
            <v-img
              pa-5
              class="pa-5 imagen_portada"
              src="@/assets/museum.jpg"
              max-width="100%"
              height="5em"
            >
              <span class="city_country">
                <div class="svg_location">
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0"
                    y="0"
                    viewBox="0 0 533.333 533.333"
                    style="enable-background: new 0 0 533.333 533.333"
                    xml:space="preserve"
                  >
                    <path
                      d="M266.666 0C174.618 0 100 74.619 100 166.667c0 166.667 166.667 366.667 166.667 366.667s166.667-200 166.667-366.667C433.333 74.619 358.713 0 266.666 0zm0 266.667c-55.229 0-100-44.771-100-100s44.771-100 100-100 100 44.771 100 100-44.771 100-100 100z"
                    />
                  </svg>
                </div>
                <p>
                  Art Science <br />
                  Museum
                </p>
              </span>
            </v-img>
          </div>
        </v-layout>
        <v-layout
          wrap
          justify-center
          mt-3
          align-center
          pa-0
          ma-1
          class="items_filas_two"
        >
          <div class="imagen_contenedor house">
            <v-img
              pa-5
              class="pa-5 imagen_portada"
              src="@/assets/fountain-of-youth.jpg"
              max-width="100%"
              height="8.9em"
            >
              <span class="city_country">
                <div class="svg_location">
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0"
                    y="0"
                    viewBox="0 0 533.333 533.333"
                    style="enable-background: new 0 0 533.333 533.333"
                    xml:space="preserve"
                  >
                    <path
                      d="M266.666 0C174.618 0 100 74.619 100 166.667c0 166.667 166.667 366.667 166.667 366.667s166.667-200 166.667-366.667C433.333 74.619 358.713 0 266.666 0zm0 266.667c-55.229 0-100-44.771-100-100s44.771-100 100-100 100 44.771 100 100-44.771 100-100 100z"
                    />
                  </svg>
                </div>
                <p>
                  Fountain <br />
                  of youth
                </p>
              </span>
              <div class="boton_add__tiempo">
                <span>+</span>
              </div>
            </v-img>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-flex>
</template>
<style lang="scss" scoped>
@import "../sass/home";
</style>